h1 {
  font-family: "Courier New";
  color: white;
}
p {
  font-family: "Courier New";
  color: white;
}
body {
  background-color: black;
}
a:link {
	text-decoration: none;
	font-family: "Courier New";
	color: white;
}

a:visited {
	text-decoration: none;
	font-family: "Courier New";
	color: white;
}

a:hover {
	text-decoration: none;
	font-family: "Courier New";
	color: white;
}

a:active {
	text-decoration: none;
	font-family: "Courier New";
	color: white;
}
