.menu {
  margin: 0 auto;
  width: 100px;
}
h1 {
  font-family: Courier New;
  color: white;
}
p {
  font-family: Courier New;
  color: white;
}
body {
  background-color: black;
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}
