body {
	-webkit-animation: colorchange 2s infinite;
	animation: colorchange 2s infinite;
}


@-webkit-keyframes colorchange {
	0%  {background:#fefe00;}
	50% {background:#000000;}
	100% {background:#fefe00;}
}


@keyframes colorchange {
	0%  {background:#fefe00;}
	50% {background:#000000;}
	100% {background:#fefe00;}

h1 {
  font-family: "Courier New";
  color: white;
  text-align: left;
}
a {
  font-family: "Courier New";
  color: white;
}
p {
  font-family: "Courier New";
  color: white;
}
/*body {
  background-color: black;
  color: white;*/
}
a:link {
	text-decoration: none;
	font-family: "Courier New";
	color: white;
}

a:visited {
	text-decoration: none;
	font-family: "Courier New";
	color: white;
}

a:hover {
	text-decoration: none;
	font-family: "Courier New";
	color: white;
}

a:active {
	text-decoration: none;
	font-family: "Courier New";
	color: white;
}
